<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Reza Lotun">
   <link rel='stylesheet' type='text/css' href='/css/style.css' />
   <link rel="SHORTCUT ICON" href="static/rza4.ico"/>
   </head>
   <body>
<div id='header'>
            <table>
                <tr>
                    <td>
                     <img src="/images/logo-med.png"
                      alt="rza"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td style="text-align: left;">
                        <h1>Reza Lotun</h1>
                        [<a href="http://www.linkedin.com/pub/dir/reza/lotun">linkedin</a>] - [<a href="http://twitter.com/rlotun"
>twitter</a>] - [<a href="http://www.facebook.com/people/Reza-Lotun/21001105">facebook</a>]<br />
			<br />
                    </td>
                </tr>
             </table>
        </div>
        <div id='container'>
            <div id="menu">
            		  <strong>About:</strong><br />
		  &nbsp;<a href="/files/cv_reza_lotun.pdf">cv</a><br />
		  <br />

		  <strong>Projects:</strong><br />
                  &nbsp;<a href="http://github.com/rlotun">GitHub</a><br />
                  <br />

            </div>
            <div id='content'>
                {{ content }}
           </div>
            <div id='third-column'>
            </div>
        </div>
        <div id='footer'>
            <h6>&#169; 2010 Reza Lotun</h6>
        </div>
    </body>
</html>

